<h1 id="page_title">About</h1>

<div id="post_wrapper" class="skinny_wrapper">
    <div class="post about">
      <p>喜歡旅行，喜愛程式語言。對於自己動手做網站一直懷抱熱衷，覺得這是一件很酷的事情，所以很衝動地放下工作，跑去參加了一個短期進修，學習Rails，以及新創產業等相關的知識。</p>
      <p>關於程式設計、建構網站...等知識實在太多、更新太快了，但卻熱此不疲地看書、上網找資料、也跟同學討論，再試著把新功能做出來，我覺得這是一件很快樂的事。</p>
      <p>這個Blog目前僅有非常簡單基本的功能，分享的內容也沒有太高的技術含量 XD，網路上有很多專研很深很久的高手，跟他們比起來我只是個菜鳥，所以也不敢班門弄斧，只是將我學到的新技能寫到這裡，這也是督促自己不斷學習的方式。 :)</p>
      <p><a href="http://homepage.unbusymassage.tech">不忙按摩</a>，是我曾經參與的專案，負責前端網頁、智付寶第三方支付建立、後端部署。當時因為開發時間不多，所以前端網頁只考慮電腦上瀏覽，RWD是在專案結束之後，自己再加上去的。</p>
      <p>程式設計一定會不斷地更新，未來我希望退休之後，可以開家民宿然後一邊繼續寫程式 XD</p>
    </div>
</div>