<div class="wraper wrapper_padding">
  <div class="homepage_content">
    <h2>Articles</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>